<!-- Loop over each object in the projects array -->
{{!-- {{#each blogs as |blogs| }} --}}
<div class="row mb-4 project">
  <ul class="col-md-5">
    <li>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{!-- {{{get_emoji}}} --}}
      {{!-- <a href="/project/{{project.id}}">{{project.name}}</a> --}}
      <h1>This Renders!</h1>
    </li>
  </ul>
</div>
{{!-- {{/each}} --}}